<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.mapper.StafftypeMapper" >
  <resultMap id="BaseResultMap" type="com.zking.model.Stafftype" >
    <constructor >
      <idArg column="yh_staffType_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="yh_staffType_type" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    yh_staffType_id, yh_staffType_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yh_stafftype
    where yh_staffType_id = #{yhStafftypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yh_stafftype
    where yh_staffType_id = #{yhStafftypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.model.Stafftype" >
    insert into yh_stafftype (yh_staffType_id, yh_staffType_type)
    values (#{yhStafftypeId,jdbcType=INTEGER}, #{yhStafftypeType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.model.Stafftype" >
    insert into yh_stafftype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="yhStafftypeId != null" >
        yh_staffType_id,
      </if>
      <if test="yhStafftypeType != null" >
        yh_staffType_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="yhStafftypeId != null" >
        #{yhStafftypeId,jdbcType=INTEGER},
      </if>
      <if test="yhStafftypeType != null" >
        #{yhStafftypeType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.model.Stafftype" >
    update yh_stafftype
    <set >
      <if test="yhStafftypeType != null" >
        yh_staffType_type = #{yhStafftypeType,jdbcType=VARCHAR},
      </if>
    </set>
    where yh_staffType_id = #{yhStafftypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.model.Stafftype" >
    update yh_stafftype
    set yh_staffType_type = #{yhStafftypeType,jdbcType=VARCHAR}
    where yh_staffType_id = #{yhStafftypeId,jdbcType=INTEGER}
  </update>
</mapper>